<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.a-a-a-o-i-r"
    version   = "1.0.0">

<name>AAAOIR</name>

<description>
Desenvolvido por Alysson Rego
</description>

<author href="https://example.com" email="you@example.com">
Alysson Rego
</author>

</widget>
